@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #E6EFF6;
    margin-top: 140px;
    padding: 10px;
    font-family: 'Karla', sans-serif;
    Font-size: 16px;
    height: max-content;
}

div {
    background-color: white;
    padding: 40px;
}

div.header {
    width: 580px;
    margin: auto;
    border-radius: 10px 10px 0 0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.100);
}

main {
    display: flex;
    justify-content: center;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.100);
    margin: auto;
    width: min-content;
    border-radius: 0 0 11px 11px;
}

div.aside {
    width: 250px;
}

div#left {
    background-color: #2BB3B1;
    border-radius: 0 0 0 10px;
}

div#right {
    background-color: #4ABEBD;
    border-radius: 0 0 10px 0;
}

h1 {
    color: #2BB3B1;
    font: 700 1.5em 'Karla';
    margin-top: 0;
}

h2 {
    color: #BFDF32;
    font: 400 1.2em 'Karla';
}

p, h3 {
    color: #E6EFF6;
    margin-top: 10px;
}

p.grey {
    color: #C1C4CB;
    margin: 5px;
}

p > strong {
    font-size: 2em;
    color: white; 
}

button {
    background-color: #BFDF32;
    margin: 10px;
    width: 90%;
    padding: 12px;
    color: white;
    border-radius: 6px;
    border: 0;
    font-size: 1em;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.100); 
}

footer p {
    text-align: center;
    color: #C1C4CB;
}

footer a {
    color: #2BB3B1;
    text-decoration: none;
}

@media (max-width: 655px) {
    div.header {
        width: 250px;
    }
    main {
        flex-wrap: wrap;
    }
    div#left {
        border-radius: 0;
    }
    div#right {
        border-radius: 0 0 10px 10px ;
    } 
}