@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: hsl(0, 0%, 98%);
}

header {
    margin: 20px auto;
    max-width: 550px;
    text-align: center;
}

h1 {
    font-weight: 200;
    margin: 0;
    color: hsl(234, 12%, 34%);
}

h1.strong {
    font-weight: 600;
    color: hsl(234, 12%, 34%);
}

p {
    color: hsl(229, 6%, 66%);
    margin: 10px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    max-width: 1140px;
}

.box {
    background-color: white;
    border-radius: 5px;
    padding: 30px;
    margin: 15px;
    width: 350px;
    box-shadow: 2px 10px 10px rgba(0, 0, 0, 0.116);
} 

.box#cyan {
    border-top: 5px solid hsl(180, 62%, 55%);
    transform: translateY(50%);
}

.box#red {
    border-top: 5px solid hsl(0, 78%, 62%);
}

.box#orange {
    border-top: 5px solid hsl(34, 97%, 64%);
}

.box#blue {
    border-top: 5px solid hsl(212, 86%, 64%);
    transform: translateY(50%);
}

.box h2 {
    margin: 0;
}

.box p {
    font-size: 13px;
    margin: 15px 0;
}

.box img {
    display: block;
    margin-top: 40px;
    margin-left: auto;
}

footer {
    text-align: center;
    font-size: 10px;
}

footer a {
    text-decoration: none;
    font-weight: bolder;
    color: black;
}

@media (max-width: 750px) {
    .box#blue {
        transform: translateY(0);
    }
    .box#cyan {
        transform: translateY(0);
    }
}
